body {
  background: #333;
  font-family: 'Helvetica';
}

.panel-title {
	font-family: 'Georgia';
}

#logout-button, #content {
	display: none;
}

.buttons, .message, #content {
	text-align: center;
}

.buttons button {
	width: 49%;
}

#wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -100px;
}

.form-group .glyphicon {
	float: left;
}

#login-box {
	width: 360px;
	margin: 0 auto;
}