body {
  background: #333;
  font-family: 'Helvetica';
}

#wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -100px;
}

#login-box {
	width: 360px;
	margin: 0 auto;
}

#login-message {
	font-family: 'Georgia';
}

#login-message, #content, #buttons {
	text-align: center;
}

#inputs .glyphicon {
	float: left;
}

#logout-button, #content {
	display: none;
}

#buttons button {
	width: 49%;
}


